
td.number {
    text-align: right;
}
body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Poiret One', sans-serif;
    padding-top: 50px;
}
#shop {
    font-family: 'Helvetica', sans-serif;
    /*font-family: 'Poiret One', sans-serif;*/
}
#header-container {
    background: #AA3939;
    /*background: #550000;*/
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-bottom: 10px;
}

.navbar {
    /*background: white;*/
    /*background: #660000;*/
    background: #550000;
    font-weight: bold;
    /*font-family: 'Bungee Hairline', cursive;*/
    font-family: 'Pacifico', cursive;
}
#navwords {
    color: white;
}
#navwords:hover {
    color: #DFDFDF;
}

h1 {
    color: white;
    /*color: #FFAAAA;*/
    /*background: #550000;*/
    /*font-family: 'Bungee Hairline', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}
.description {
    text-align: center;
    font-style: oblique;
    color: #FFAAAA;
}
.subtitle {
    font-size: 20px;
    color: #FFAAAA;
}

.starter-template {
    /*padding: 40px 15px;*/
    text-align: center;
}
.row {
    padding: 20px 15px;
}


.ingredient {
    border-radius: 10px;
    border: 1px solid #ACACAC;
    padding: 15px;
    margin: 5px;
    cursor: pointer; cursor: hand;
}
.amount {
    border: 0;
    /*color: #f6931f;*/
    font-weight: bold;
}
.slider {
    /*margin-left: 25%;*/
    /*width: 50%;*/
}
.values {
    text-align: center;
    margin-top: 10px;
}
.item {
    color: #AA3939;
    font-weight: bold;
}

.suggestions {
    margin-top: 30px;
}
#add-some {
    margin-right: 5px;
}

.btn {
    margin-right: 5px;
}
.glyphs {
    float: left;
}
.recipe-presets {
    float: left;
}


.progress-bar-empty {
    background: #f5f5f5;
}

.progress-bar-filled {
    /*background: #850000;*/
    
    background: #0D4A4A;
    /*background: gray;*/
}

.deselected {
    /*background: #7DB1B1;*/
    /*background: #dfecec;*/
    /*background: #dedede;*/
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.recipe-selected {
    background: #dedede;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
}
