
td.number {
    text-align: right;
}
body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Helvetica', sans-serif;*/
    padding-top: 50px;
}
#shop {
    /*font-family: 'Poiret One', sans-serif;*/
}
#header-container {
    /*font-family: 'Poiret One', sans-serif;*/
    background: #AA3939;
    /*background: #550000;*/
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-bottom: 10px;
}

.navbar {
    /*background: white;*/
    /*background: #660000;*/
    background: #550000;
    font-weight: bold;
    /*font-family: 'Bungee Hairline', cursive;*/
    font-family: 'Pacifico', cursive;
}
#navwords {
    color: white;
}
#navwords:hover {
    color: #DFDFDF;
}

h1 {
    color: white;
    /*color: #FFAAAA;*/
    /*background: #550000;*/
    /*font-family: 'Bungee Hairline', cursive;*/
    /*font-family: 'Lobster', cursive;*/
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}
.description {
    text-align: center;
    font-style: oblique;
    color: #FFAAAA;
}
.subtitle {
    font-size: 20px;
    color: #FFAAAA;
}

.starter-template {
    /*padding: 40px 15px;*/
    text-align: center;
}
.row {
    padding: 20px 15px;
}


.ingredient {
    border-radius: 10px;
    border: 1px solid #ACACAC;
    padding: 15px;
    margin: 3px;
    /*cursor: pointer; cursor: hand;*/
}
.amount {
    border: 0;
    /*color: #f6931f;*/
    font-weight: bold;
}
.slider {
    /*margin-left: 25%;*/
    /*width: 50%;*/
}
.values {
    text-align: center;
    margin-top: 10px;
}
.item {
    color: #AA3939;
    font-weight: bold;
}

.suggestions {
    margin-top: 30px;
    margin-bottom: 30px;
}
#add-some {
    margin-right: 5px;
}

.btn {
    margin-right: 5px;
}
.glyphs {
    float: left;
}
.recipe-presets {
    margin: 0px;
    /*float: left;*/
    cursor: pointer; cursor: hand;
    /*float: left;*/
}

.progress {
    cursor: pointer; cursor: hand;
}

.progress-bar-empty {
    background: #f5f5f5;
}

.progress-bar-filled {
    background: #0D4A4A;
    background: #337ab7;
}

.deselected {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.food-selected {
    background: #337ab7;
    color: white;
}

.introduction {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
}

.food-presets-container {
    /*float: left;*/
}
.recipe-presets-container {
    /*float: left;*/
    margin-top: 10px;
}

.help-info {
    cursor: pointer; cursor: hand;
}
.more-info {
    display: none;
}

